@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: 'PMZDCST';
    font-display: swap;
    src: url('./LuoGuoChengMaoBiXiaoXianKaiJianTi-2.ttf') format("truetype");
} 

@font-face {
  font-family: 'YunFont';
  font-display: swap;
  src: url('./FiraCode-Regular.ttf') format("truetype");  
}